<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>五畜网站</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/public/admin/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/public/admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="/public/admin/css/admin.css">
    <link rel="stylesheet" href="/public/admin/css/app.css">
    <script src="/public/admin/js/echarts.min.js"></script>
</head>

<body data-type="index">


{include file="index/header"/}






    <div class="tpl-page-container tpl-page-header-fixed">

        {include file="index/menu"/}





        <div class="tpl-content-wrapper" style="">
            <!--<div class="tpl-content-page-title">-->
                <!--Amaze UI 首页组件-->
            <!--</div>-->
            <!--<ol class="am-breadcrumb">-->
                <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
                <!--<li><a href="#">分类</a></li>-->
                <!--<li class="am-active">内容</li>-->
            <!--</ol>-->
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>五畜网站
                        <span class="close" data-close="note"></span>
                    </h3>
                    <p> 介绍：这是一个介绍蒙古族五种动物的网站</p>
                    <!--<p><span class="label label-danger">提示:</span>中文排版，根据用户代理调整字体，实现更好的中文排版效果。-->
                    <!--</p>-->
                </div>
            </div>







        </div>

    </div>


    <script src="/public/admin/js/jquery.min.js"></script>
    <script src="/public/admin/js/amazeui.min.js"></script>
    <script src="/public/admin/js/iscroll.js"></script>
    <script src="/public/admin/js/app.js"></script>
</body>

</html>