*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	/*list-style-type: none;*/
}
a{
	text-decoration: none;
}
img{
	/*有些浏览器会自动给边，影响美观，为了良好的代码书写习惯*/
	/*为了兼容ie低级版本设置*/
	border: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.clear{
	zoom: 1;
}
